ion-header {
  ion-toolbar {
    .bordered {
      --border-radius: 10px;
      --box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #ffffff;
    }
  }
}

#hdr {
  // --background: rgba(45,112,229,1);
  --background: #ffffff;
}

#notf {
  font-family: "Lato", sans-serif;
  --background: #ffffff;
  --color: black;
}

#icn {
  color: #2052a3;
}

ion-title {
  font-size: 20px;
  text-align: center;
  margin-left: 10px;
  margin-right: 70px;
  font-family: "Lato", sans-serif;
  color: black;
  font-style: normal;
}

ion-content {
  font-size: 14px;
  // --background: url("/assets/images/pdam-btk.png");
  // --background: linear-gradient(160deg, #0034d0 17%, #80D0C7 100%);
  --background: linear-gradient(160deg, #2052a3 50%, #d6d0d0 100%);
  // --background:  rgba(0,61,121);

  ion-searchbar {
    --background: #ffffff;
    --border-radius: 14px;
    color: rgba(0, 61, 121);
  }

  .container {
    padding: 6px 20px;
    color: #ffffff;

    ion-item.report {
      --background: url("/assets/images/pdam-btk.png");
      margin: 14px 0;
      --border-radius: 14px;
      color: rgba(0, 61, 121);

      ion-col.col {
        margin-left: -10px;
      }

      ion-col.lom {
        margin-left: 10px;
      }

      ion-label {
        font-family: "Lato", sans-serif;
        margin-left: -25px;
        margin-right: -5px;

        h4 {
          font-weight: 600;
          font-size: 16px;
        }

        h6 {
          // color: rgba(255,255,255,.66);
          color: rgba(0, 61, 121);
        }
      }
    }
  }

  // .info{
  //   font-family: "Lato", sans-serif;
  //   color:#858585;
  //   margin-left: 25px;
  // }

  ion-item.inputdata {
    --background: #ffffff00;
    --border-radius: 14px;
    color: rgb(255, 255, 255);
    font-family: "Lato", sans-serif;
    width: 100%;
    margin: 0 -10px;

    ion-select {
      margin-left: 50px;
    }
  }

  ion-item.inputfilter {
    --background: #ffffff00;
    --border-radius: 14px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-family: "Lato", sans-serif;
    width: 90%;
    // margin: 0 -10px;
    margin: 8px 0;
    margin-left: 10px;

    ion-select{
      font-size: 14px;
      width: 80%;
      padding: 10px 20px;
      margin: 8px 0;
      margin-left: 20px;
      border: 1px solid #ccc;
      border-radius: 10px;
      box-sizing: border-box;
      color: rgb(255, 255, 255);
      background-color: #ffffff00;
      margin-bottom: 5px;
    }
  }

  button {
    font-size: 14px;
    background-color: rgba(0, 61, 121);
    color: white;
    // background-color:  white;
    // color: rgba(0, 61, 121);
    padding: 14px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }

  button.coord {
    font-size: 12px;
    background-color: #214e95;
    color: #ffffff;
    padding: 8px 20px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 10px;
    width: 93%;
    height: auto;
    border: 1px solid;
    cursor: pointer;
    // border-radius: 20px;
    border-color: #ffffff;
  }

  button:hover {
    opacity: 0.8;
  }
}