<ion-content [fullscreen]="true">
  <div class="login">
    <form>
      <div class="imgcontainer">
        <img src="assets/images/pdam-logo.png" alt="" width="80px" class="logo" />
      </div>

      <div class="ion-text-center">
        <label>Login to continue Survey</label>
      </div>

      <div class="container">
        <label><b>Username</b></label>
        <input [(ngModel)]="username" type="text" placeholder="Enter Username" name="username" required />

        <label><b>Password</b></label>
        <input [(ngModel)]="password" type="password" placeholder="Enter Password" name="password" required />

        <label>
          <!-- <input type="checkbox" checked="checked" name="remember"> Remember me --> </label><br />

        <button (click)="login()" type="submit">Login</button>

        <!-- <span class="psw"><a href="#">Forgot password?</a></span> -->
      </div>
    </form>
  </div>

  <div class="ion-text-center">
    <img src="assets/images/perumda.png" alt="" width="150px" class="logo" />
  </div>
</ion-content>