

<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border">
    <ion-toolbar id="hdr">
      <!-- <label for="" class="warna">Welcome</label> -->
      <ion-button slot="start" class="bordered" fill="solid" id="notf" routerLink="/tabs/tab4">
        Welcome
        <!-- <ion-icon color="light" name="notifications-outline"></ion-icon> -->
      </ion-button>
      <!-- <ion-title>Student Card</ion-title> -->
      <ion-button slot="end" class="bordered" fill="solid" id="logt" routerLink="/login">
        Logout
        <ion-icon name="exit-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <img src="assets/images/perumda.png" alt="" width="150%" class="logo" />
  </div>

  <ion-item lines="none">
    <ion-avatar slot="end">
      <img src="assets/images/elon.jpg" alt="" />
    </ion-avatar>
    <ion-label slot="start">
      <p>Hello,</p>
      <h3>Elon Musk</h3>
    </ion-label>
  </ion-item>

  <div class="slides ion-margin-bottom">
    <ion-slides options="slidesOptions">
      <ion-slide>
        <ion-card class="satu">
          <ion-card-header>
            <div class="main">
              <img src="assets/images/folders.png" />
            </div>
            <!-- <img class="files" src="assets/images/perumda.png" /> -->
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            <ion-card-title class="ion-text-center"><strong>REPORT SURVEY</strong></ion-card-title> <br>
            <!-- <ion-card-subtitle class="ion-text-right">10/50 Data</ion-card-subtitle> -->
            <a href="#" routerLink="/report" class="card-link">View</a>
            <!-- <ion-label routerLink="/report" color="primary">View</ion-label> -->
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <!-- <div class="fitur">
    <ion-item class="fituritem" lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-button id="icn" fill="clear">
              <ion-icon slot="icon-only" name="document"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="7">
            <ion-label>
              <h4>Survey Satu</h4>
              <h6>Data</h6>
              <h6>23-03-2023</h6>
            </ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-button id="icn" fill="clear" routerLink="/details">
              <ion-icon slot="icon-only" name="eye"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </div> -->

  <ion-grid>

    <ion-row class="ion-margin-horizontal ion-margin-top">
      <ion-col>
        <ion-label>
          <h3>All features</h3>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-horizontal">
      <ion-col size="6">
        <ion-card class="tiga">
          <ion-card-header>
            <div class="maindua">
              <img src="assets/images/developing.png" />
            </div>
          </ion-card-header>
          <ion-card-content>
            <ion-label color="dark">Fitur 1</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card class="tiga">
          <ion-card-header>
            <div class="maindua">
              <img src="assets/images/planning.png" />
            </div>
          </ion-card-header>
          <ion-card-content>
            <ion-label color="dark">Fitur 2</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card class="tiga">
          <ion-card-header>
            <div class="maindua">
              <img src="assets/images/resource.png" />
            </div>
          </ion-card-header>
          <ion-card-content>
            <ion-label color="dark">Fitur 3</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card class="tiga">
          <ion-card-header>
            <div class="maindua">
              <img src="assets/images/bookmarks.png" />
            </div>
          </ion-card-header>
          <ion-card-content>
            <ion-label>Fitur 4</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>