ion-header {
  ion-toolbar {
    .bordered {
      --border-radius: 10px;
      --box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #ffffff;
    }
  }

  ion-icon {
    color: black;
  }
}

#hdr {
  --background: #ffffff;
}

#notf {
  font-family: "Lato", sans-serif;
  --background: #ffffff;
  --color: black;
}

#logt {
  --background: #ffffff;
  --color: black;
  font-family: "Lato", sans-serif;
}

.container {
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  height: 150px;
  display: block;
  // background-color: white;
  background-image: url("/assets/images/pdam-btk.png");
  padding: 4px 10px 5px 10px;
  border-radius: 0 0 14px 14px;
}

.logo {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 300px;
  height: 50px;
}


ion-content {
  // --background: rgba(0, 54, 217, 0.929);
  // --background: linear-gradient(90deg, rgba(43,90,148,1) 0%, rgba(45,112,229,1) 35%, rgba(45,112,229,1) 100%);
  --background: linear-gradient(160deg, #0034d0 17%, #80D0C7 100%);
  



  font-family: "Lato", sans-serif;
  // --background: url("/assets/images/pdam-btk.png");

  ion-item {
    font-family: "Lato", sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    --background: transparent;

    // background: #f1f5f8;
    h3 {
      font-family: "Lato", sans-serif;
      margin-left: 10px;
      font-weight: 700;
      font-size: 17px;
      color: #ffffff;
    }

    p {
      font-family: "Lato", sans-serif;
      margin-left: 10px;
      font-weight: 500;
      font-size: 14px;
      color: #b5b5b5;
    }

    ion-avatar {
      height: 50px;
      width: 50px;
      margin: auto;
      border: 2px solid #ffffff;
    }
  }

  .slides {
    // background: rgba(0, 54, 217, 0.929);
    padding: 4px 10px 5px 10px;
    border-radius: 0 0 28px 28px;
    margin-top: -10px;
    margin-bottom: -10px;
  }

  ion-grid{
    h3 {
      font-family: "Lato", sans-serif;
      margin-left: 10px;
      font-weight: 700;
      font-size: 17px;
      color: #ffffff;
    }
  }

  ion-card.satu {
    
      width: 100%;
      height: auto;
      box-shadow: none;
      border-radius: 14px;
      padding: -20px;
      // background: #ffffff;
      background: url("/assets/images/pdam-btk.png");
      font-family: "Lato", sans-serif;

      ion-card-title {
        margin-top: -50px;
        font-size: 14px;
        color: #6f6f6f;
      
    }
  }

  ion-card.tiga {
    // width: 100%;
    // height: auto;
    box-shadow: none;
    border-radius: 14px;
    padding: -20px;
    // background: #ffffff;
    background: url("/assets/images/pdam-btk.png");
    font-family: "Lato", sans-serif;

    ion-label {
      font-size: 14px;
      color: #6f6f6f;
    }
  }


  ion-card-subtitle {
    font-size: 14px;
    color: #808080;

  }

  .main {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background: #ffffff;
    box-shadow: 7px 7px 20px #dbdfe2, -7px -7px 20px #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 40px;
    }
  }

  .maindua {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background: #ffffff;
    box-shadow: 7px 7px 20px #dbdfe2, -7px -7px 20px #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 40px;
    }
  }

  .files {
    padding-top: 14px;
    width: 200px;
    height: 50px;
  }

  // .fitur {
  //   padding: 6px 20px;
  //   color: #ffffff;

  //   ion-item.fituritem {
  //     // --background: rgba(255,255,255,.1);
  //     --background: url("/assets/images/pdam-btk.png");
  //     padding: 0;
  //     margin: 14px 0;
  //     --border-radius: 14px;
  //     // color: #FFFFFF;
  //     color: rgba(0, 61, 121);
  //     font-weight: 600;

  //     ion-label {
  //       font-family: "Lato", sans-serif;
  //       padding: 6px 0;

  //       h4 {
  //         font-weight: 600;
  //         font-size: 16px;
  //       }
  //       h6 {
  //         // color: rgba(255,255,255,.66);
  //         color: rgba(0, 61, 121);
  //       }
  //     }
  //   }
  // }

  
}

//   ion-col{
//     text-align: center;
//     ion-card-title{
//         font-size: 14px;
//         color: rgba(0, 61, 121);

//     }
// }

