ion-header {
  ion-toolbar {
    .bordered {
      --border-radius: 10px;
      --box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #ffffff;
    }
  }
}
#hdr {
  --background: #ffffff;
}
#notf {
  --background: #ffffff;
}
#logt {
  --background: #ffffff;
}

ion-title {
  font-size: 20px;
  text-align: center;
  font-family: "Lato", sans-serif;
  color: black;
  font-style: normal;
}

ion-content {
  font-size: 14px;
  --background: rgba(0, 61, 121);
  font-family: "Lato", sans-serif;

  .survey {
    font-size: 14px;
    // background-color: #ffffff;
    // background: rgba(255,255,255,.1);
    background: url("/assets/images/pdam-btk.png");
    border: 3px solid #ffffff;
    border-radius: 10px;
    width: 320px;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  ion-input {
    font-size: 14px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
  }

  button {
    font-size: 14px;
    background-color: rgba(0, 61, 121);
    color: white;
    padding: 14px 20px;
    margin-top: 20px;
    margin-bottom: auto;
    width: 100%;
    height: auto;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }

  button:hover {
    opacity: 0.8;
  }

  h2 {
    text-align: center;
    color: rgba(0, 61, 121);
    //   font-size:40pt;
  }

  label {
    font-size: 14px;
    color: rgba(0, 61, 121);
  }

  img.avatar {
    width: 30%;
    border-radius: 50%;
  }

  .container {
    padding: 16px;
  }

}
