<ion-header class="ion-no-border">
  <ion-toolbar id="hdr">
    <ion-title>Survey</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="survey">
    <form>
      <div class="ion-text-center">
        <label>Form Input</label>
      </div>

      <div class="container">
        <!-- <label for="nama"><b>Nama</b></label>
        <ion-input type="text" placeholder="Masukan Nama" name="nama" required></ion-input>

        <label for="alamat"><b>Alamat</b></label>
        <ion-input type="text" placeholder="Masukan Alamat Sesuai KTP" name="alamat" required></ion-input>
        
        <label for="nohp"><b>No. Handphone</b></label>
        <ion-input type="text" placeholder="Masukan No. Handphone" name="nohp" required></ion-input>

        <label for="ktp"><b>Foto KTP</b></label>
        <ion-input type="file" placeholder="Pilih File" name="ktp" required></ion-input>

        <label for="kk"><b>Foto KK</b></label>
        <ion-input type="file" placeholder="Pilih File" name="kk" required></ion-input>

        <label for="listrik"><b>Foto No. Rek Listrik</b></label>
        <ion-input type="file" placeholder="Pilih File" name="listrik" required></ion-input>

        <label for="rumah"><b>Foto Rumah</b></label>
        <ion-input type="file" placeholder="Pilih File" name="rumah" required></ion-input>

        <label for="penghuni"><b>Jumlah Penghuni</b></label>
        <ion-input type="text" placeholder="Masukan Jumlah Penghuni" name="penghuni" required></ion-input>

        <label for="usaha"><b>Ada Usaha / Tidak</b></label>
        <ion-input type="text" placeholder="Ada / Tidak" name="usaha" required></ion-input> -->

        <!-- <label for="jaringan"><b>Sudah Ada Jaringan / Belum</b></label>
        <ion-input type="text" placeholder="Ada/Tidak" name="jaringan" required></ion-input>

        <label for="jarak"><b>Berapa Jaraknya</b></label>
        <ion-input type="text" placeholder="Masukan Jarak" name="jarak" required></ion-input> -->

        <label for="lokasi"><b>Share Location</b></label>
        <!-- <p>Lat: {{lat}}, Lng; {{lng}}</p> -->
        <ion-input type="text" placeholder="Masukan Koordinat" name="lokasi" required></ion-input>

        <!-- <button type="submit" (click)="share()">Share Location</button> -->
      </div>
    </form>
  </div>
</ion-content>
