
<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar id="hdr">
      <ion-button slot="start" class="bordered" fill="solid" id="notf" routerLink="/dashboard">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-title>Data Report</ion-title>
    </ion-toolbar>
  </ion-header>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <ion-card>
    <ion-card-content>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead class="table mb-0">
            <tr>
              <th scope="col">No</th>
              <th scope="col">Nama</th>
              <th scope="col">Alamat</th>
              <th scope="col">Telepon</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Gundala</td>
              <td>Jl. Petir Menyambar No. 99</td>
              <td>081234567890</td>
              <td>
                <ion-button id="icn" fill="clear" routerLink="/details">
                  <ion-icon slot="icon-only" name="eye"></ion-icon>
                </ion-button>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Sri Asih</td>
              <td>Jl. Silih Asih No.1</td>
              <td>081234567890</td>
              <td>
                <ion-button id="icn" fill="clear" routerLink="/details">
                  <ion-icon slot="icon-only" name="eye"></ion-icon>
                </ion-button>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Gatot Kaca</td>
              <td>Kp. Astina Pura </td>
              <td>081234567890</td>
              <td>
                <ion-button id="icn" fill="clear" routerLink="/details">
                  <ion-icon slot="icon-only" name="eye"></ion-icon>
                </ion-button>
              </td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Thor</td>
              <td>Komplek Asgard Blok A</td>
              <td>081234567890</td>
              <td>
                <ion-button id="icn" fill="clear" routerLink="/details">
                  <ion-icon slot="icon-only" name="eye"></ion-icon>
                </ion-button>
              </td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>Hulk</td>
              <td>Perumahan Hulk Island No. 100</td>
              <td>081234567890</td>
              <td>
                <ion-button id="icn" fill="clear" routerLink="/details">
                  <ion-icon slot="icon-only" name="eye"></ion-icon>
                </ion-button>
              </td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>Batman</td>
              <td>Kp. Gotham Atas</td>
              <td>081234567890</td>
              <td>
                <ion-button id="icn" fill="clear" routerLink="/details">
                  <ion-icon slot="icon-only" name="eye"></ion-icon>
                </ion-button>
              </td>
            </tr>
            <tr>
              <th scope="row">7</th>
              <td>Joker</td>
              <td>Kp. Gotham Bawah</td>
              <td>081234567890</td>
              <td>
                <ion-button id="icn" fill="clear" routerLink="/details">
                  <ion-icon slot="icon-only" name="eye"></ion-icon>
                </ion-button>
              </td>
            </tr>
            <tr>
              <th scope="row">8</th>
              <td>Loki</td>
              <td>Komplek Asgard Blok Z</td>
              <td>081234567890</td>
              <td>
                <ion-button id="icn" fill="clear" routerLink="/details">
                  <ion-icon slot="icon-only" name="eye"></ion-icon>
                </ion-button>
              </td>
            </tr>
           
            <tr>
              <th scope="row">9</th>
              <td>Falcon</td>
              <td>Jl. Sayap Elang No. 77</td>
              <td>081234567890</td>
              <td>
                <ion-button id="icn" fill="clear" routerLink="/details">
                  <ion-icon slot="icon-only" name="eye"></ion-icon>
                </ion-button>
              </td>
            </tr>
          </tbody>
          </table>
      </div>
    </ion-card-content>
  </ion-card> 

</ion-content>
