ion-header {
    ion-toolbar {
      .bordered {
        --border-radius: 10px;
        --box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #ffffff;
      }
    }
  }
  #hdr {
    // --background: rgba(45,112,229,1);
    --background: #ffffff00;
  }
  #notf {
    font-family: "Lato", sans-serif;
    --background: #ffffff;
    --color: black;
  }
  #icn {
    // --background: rgba(45,112,229,1);
    // color: white;
    color: rgba(0, 61, 121);
  }
  ion-title {
    font-size: 20px;
    text-align: center;
    margin-left: 10px;
    margin-right: 70px;
    font-family: "Lato", sans-serif;
    color: black;
    font-style: normal;
  }

  ion-card{
    --background: url("/assets/images/pdam-btk.png");
  }

  
ion-content{
    // --background: linear-gradient(160deg, #0034d0 17%, #80D0C7 100%);
    // --background: #ffffff;
    --background: url("/assets/images/pdam-btk.png");
}