<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border">
    <ion-toolbar id="hdr">
      <ion-button slot="start" class="bordered" fill="solid" id="notf" (click)="backData()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-title>Change Password</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="login">
    <form>
      <div class="ion-text-center">
        <label>Change Password</label>
      </div>

      <div class="container">
        <!-- <label><b>User</b></label> -->
        <!-- <input disabled="true" type="text" value="{{user}}" [(ngModel)]="user" name="user" required> -->

        <label><b>Current Password</b></label>
        <input type="password" placeholder="Current Password" [(ngModel)]="passuser" name="passuser" required>

        <label><b>New Password</b></label>
        <input type="password" placeholder="New Password" [(ngModel)]="password" name="password" required>
        
        <label>
          <!-- <input type="checkbox" checked="checked" name="remember"> Remember me -->
        </label><br>

        <button class="upd" type="submit" (click)="submitForm()">Update Password</button>
        <button class="cnl" type="submit" (click)="backData()">Cancel</button>


        <!-- <span class="psw"><a href="#">Forgot password?</a></span> -->

      </div>

    </form>
  </div>

  <div class="ion-text-center">
    <img src="assets/images/perumda.png" alt="" width="150px" class="logo">
  </div>


</ion-content>