
<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border">
    <ion-toolbar id="hdr">
      <ion-button slot="start" class="bordered" fill="solid" id="notf" (click)="backData()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-title>Detail</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div class="detail">
    <form>
      <div class="container">
        <label><b>Nama :</b></label>
        <ion-card class="data">
          <label><b> {{nama}} </b></label>
        </ion-card>

        <label><b>Nomor KTP (NIK) :</b></label>
        <ion-card class="data">
          <label><b> {{nik}} </b></label>
        </ion-card>

        <label><b>Alamat :</b></label>
        <ion-card class="data">
          <label><b> {{alamat}} </b></label>
        </ion-card>

        <label><b>RT:</b></label>
        <ion-card class="data">
          <label><b> {{rt}} </b></label>
        </ion-card>

        <label><b>RW:</b></label>
        <ion-card class="data">
          <label><b> {{rw}} </b></label>
        </ion-card>

        <label><b>Kelurahan :</b></label>
        <ion-card class="data">
          <label><b> {{kelurahan}} </b></label>
        </ion-card>

        <label><b>Kecamatan :</b></label>
        <ion-card class="data">
          <label><b> {{kecamatan}} </b></label>
        </ion-card>

        <label><b>No. Handphone :</b></label>
        <ion-card class="data">
          <label><b> 0{{handphone}} </b></label>
        </ion-card>

        <label><b>Tanggal Survei</b></label>
        <ion-card class="data">
          <label><b> {{tgl}} </b></label>
        </ion-card>   

        <label><b>Jumlah Penghuni :</b></label>
        <ion-card class="data">
          <label><b> {{penghuni}} Orang</b></label>
        </ion-card>

        <label><b>Luas Bangunan :</b></label>
        <ion-card class="data">
          <label><b> {{luasbangunan}} M<sup>2</sup></b></label>
        </ion-card>

        <label><b>Daya Listrik :</b></label>
        <ion-card class="data">
          <label><b> {{daya}} VA </b></label>
        </ion-card>

        <label><b>Usaha :</b></label>
        <ion-card class="data">
          <label><b> {{usaha}} </b></label>
        </ion-card>

        <label><b>Jaringan :</b></label>
        <ion-card class="data">
          <label><b> {{jaringan}} </b></label>
        </ion-card>

        <label><b>Jarak :</b></label>
        <ion-card class="data">
          <label><b> {{jarak}} Meter </b></label>
        </ion-card>

        <label><b>No. Body Meter :</b></label>
        <ion-card class="data">
          <label><b> {{nometer}} </b></label>
        </ion-card>

        <label><b>Keterangan :</b></label>
        <ion-card class="data">
          <label><b> {{keterangan}} </b></label>
        </ion-card>

        <label><b>Location :</b></label>
        <ion-card class="data">
          <!-- <a href="{{lokasi}}" target="_blank"><b> {{lokasi}} </b></a> -->
          <label><b> {{lokasi}}</b></label>         
        </ion-card>

        <label><b>Photo KTP</b></label>
        <ion-card class="gambar">
          <!-- <ion-img-viewer title="Photo KTP" text="" 
            [src]="picKtp" alt="" gesture="true">
          </ion-img-viewer> -->
          <img [src]="picKtp">
          <!-- <label><b>{{lbKtp}}</b></label> -->
        </ion-card>

        <button (click)="getPhotoKtp()" class="coord" expand="block" fill="clear" shape="round" size="small">
          <b><ion-icon slot="start" name="image-outline"></ion-icon>
          Show Photo</b>
        </button><br>

        <label><b>Photo Kartu Keluarga</b></label>
        <ion-card class="gambar">
          <!-- <ion-img-viewer title="Photo Kartu Keluarga" text=""
            [src]="picKk" alt="" gesture="true">
          </ion-img-viewer> -->
          <img [src]="picKk">
          <!-- <label><b>{{lbKk}}</b></label> -->
        </ion-card>
        <button (click)="getPhotoKk()"class="coord" expand="block" fill="clear" shape="round" size="small">
          <b><ion-icon slot="start" name="image-outline"></ion-icon>
          Show Photo</b>
        </button><br>

        <label><b>Photo Rumah</b></label>
        <ion-card class="gambar">
          <!-- <ion-img-viewer title="Photo Rumah" text=""
            [src]="picRumah" alt="" gesture="true">
          </ion-img-viewer> -->
          <img [src]="picRumah">
          <!-- <label><b>{{lbRumah}}</b></label> -->
        </ion-card>
        <button (click)="getPhotoRumah()" class="coord" expand="block" fill="clear" shape="round" size="small">
          <b><ion-icon slot="start" name="image-outline"></ion-icon>
          Show Photo</b>
        </button><br>

        <label><b>Photo Meteran/No. Rek. Listrik</b></label>
        <ion-card class="gambar">
          <!-- <ion-img-viewer title="Photo Meteran/No. Rek. Listrik" text=""
            [src]="picListrik" alt="" gesture="true">
          </ion-img-viewer> -->
          <img [src]="picListrik">
          <!-- <label><b>{{lbListrik}}</b></label> -->
        </ion-card>
        <button (click)="getPhotoListrik()" class="coord" expand="block" fill="clear" shape="round" size="small">
          <b><ion-icon slot="start" name="image-outline"></ion-icon>
          Show Photo</b>
        </button>
      </div>
    </form>
  </div>
</ion-content>